body {
    font-family: 'Montserrat';
    text-align: center;
}

p {
    color: #8f8f8f;
}


/* Headings */

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.section-heading {
    font-size: 2.8rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

/* Container */

.container-fluid {
    padding: 7% 15%;
}

/* Title section */

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* NavBar */

.navbar {
    padding-bottom: 2.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: 'Monsterrat';
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image-container {
    position: relative;
}

.title-image {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 20%;
}

/* Features section*/
#features {
    background-color: white;
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials section*/

#testimonials {
    background-color: #ef8172;
    color: white;
}

.testimonial-text {
    font-size: 2.8rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press section*/

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section*/

#pricing {
    padding: 10%;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 2.8rem;
    line-height: 1.5;
}

/* Call to Action section*/

#cta {
    background-color: #ff4c68;
}

/* Footer section*/

#footer {
    background-color: white;
}

.social-icon {
    margin: 20px 10px;
}

/* Responsiveness */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}